<div class="main--content ">
  <div class="recent--patients table-content">
    <div class="title">
      <h2 class="section--title">Shipping Address</h2>
    </div>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Adrress</th>
            <th>State</th>
            <th>City</th>
            <th>Pin</th>
            <th>Settings</th>
          </tr>
        </thead>
        <tbody>
          {{#each address}}
          {{#each this.address}}

          <tr>
            <td>{{this.address}}</td>
            <td>{{this.state}}</td>
            <td>{{this.city}}</td>
            <td>{{this.pin}}</td>
            <td><span><a data-toggle="modal" data-target="#editmodal"><i class="ri-edit-line edit"
                    addressid="{{this._id}}"></i></a><i class="ri-delete-bin-line delete"></i></span></td>
          </tr>
          {{/each}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- ================ Edit Modal  ======================= -->
<div class="modal fade" id="editmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="exampleInputEmail1">Category</label>
          <input type="text" name="name" id="edit-input" aria-describedby="emailHelp" placeholder="Enter Category">
          <small id="emailHelp" class="form-text text-muted">Please enter category.</small>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary edit-btn">Edit Category</button>

      </div>

    </div>
  </div>
</div>
<!-- ========================= FOOTER END // ========================= -->
<script>
  const removeAddress = async (_id) => {
    await axios.delete('', { data: { _id } }).then(e => {
      window.location.reload();
    })
  }
</script>
<script src="/jQuery/userProfile.js"></script>