<div class="main--content ">
    <div class="recent--patients table-content">
        <div class="title">
            <h2 class="section--title">All Orders</h2>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Total Bill</th>
                        <th>Status</th>
                        <th>Discount</th>
                        <th>Payment</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}


                    <tr>
                        <td><a href="orders/{{this._id}}">{{this._id}}</a></td>
                        <td>{{this.totalBill}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.discount}}</td>
                        <td>{{this.paymentType}}</td>
                    </tr>

                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>