<div class="main--content d-flex justify-conten-center align-items-center ">
    <div class="row ">
        <div class="col-8 d-flex justify-content-between g-2">
            {{#each order.order}}
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/images/items/{{this.product.image}}" class="img-fluid rounded-start h-100" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h4 class="card-title text-muted">{{this.product.brandName}}</h4>
                            <h5 class="card-title  pb-4 ">{{this.product.productName}}</h5>
                            <p class="card-text">Quantity : {{this.qty}}</p>
                            <p class="card-text">Total : {{this.total}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="col-4">
            <div class="card" style="width:75%;">
                <div class="card-body">
                    <h5 class="card-title pb-4">Order Summary</h5>
                    <div class="row">
                        <div class="col-6">
                            <p class="card-text">total:</p>
                            <p>Payment Type</p>
                            <p> Paid </p>
                            <p>Status</p>
                        </div>
                        <div class="col-6">
                            <p class="card-text">{{order.totalBill}}</p>
                            <p> {{order.paymentType}}</p>
                            {{#if order.paid}}
                            <p class="text-success">Paid</p>
                            {{else}}
                            <p class="text-danger">UnPaid</p>
                            {{/if}}
                            <p>{{order.status}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>